body {
  margin: 0;
  background: #f2f2f2;
  overflow: hidden;
  font-family: monospace;
}

canvas {
  display: block;
}

input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}